.hero-section{
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(./img/image.png);
}
.CONTACT{
    height: fit-content;
    background: url(./img/image\ copy.png)center/cover no-repeat;
}
::placeholder{
    color: rgb(173, 169, 169) !important;
}
#click,
label{
    display: none;
}
@media (max-width:576px){
    label{
        display: flex;
    }
    nav ul{
        flex-direction: column;
    }
    nav{
        position: absolute;
        background: rgba(0,0,0,0.6);
        padding: 5px;
        left: -140px;
    }
    #click:checked~nav{
        left: 2px;
        top: 50px;
    }
}